.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  grid-auto-rows: auto;
}

@media screen and (max-width: 780px) {
  .cards {
    max-width: 560px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .cards {
    grid-template-columns: 100%;
  }
}
