.image-view {
  position: relative;
  margin: 0 auto;
  max-width: 75vw;
  max-height: 75vh;
  width: max-content;
  height: max-content;
  flex-direction: column;
  transform: translate(0, -50%);
  top: 50%;
}
