.button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: ease-out .2s;
}

.button:hover {
  transition: ease-in .1s;
  opacity: .6;
  cursor: pointer;
}