.profile__about {
  margin: 7px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .profile__about {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
