.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .profile {
    gap:25px;
    flex-direction: column;
    text-align: center;
  }
}
