.profile__about {
  margin: 7px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  /*display: -webkit-box;*/
  /*-webkit-line-clamp: 3;*/
  /*-webkit-box-orient: vertical;*/
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .profile__about {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 14px;
  }
}
