.profile__button-add {
  margin-left: auto;
  width: 17.047%;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: center no-repeat url('../../../images/buttons/add_button.svg');
}

@media screen and (max-width: 712px) {
  .profile__button-add {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 544px) {
  .profile__button-add {
    width: 100%;
    max-width: 300px;
    background-size: 16px;
  }
}
