.image-view__container {
  position: relative;
  margin: 0 auto;
  width: max-content;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  transform: translate(0, -50%);
  top: 50%;
}
