.profile__name-container {
  width: 100%;
  display: flex;
  column-gap: 18px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 544px) {
  .profile__name-container {
    justify-content: center;
    column-gap: 0;
  }
}
