.edit-form__fields {
  /*margin: 0 0 47px;*/
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  /*gap: 20px;*/

  display: flex;
}

@media screen and (max-width: 544px) {
  .edit-form__fields {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
  }
}
