.profile-edit-form__title {
  margin: 0;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 544px) {
  .profile-edit-form__title {
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 22px;
  }
}