.profile__name-container {
  max-width: 336px;
  display: flex;
  column-gap: 18px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 544px) {
  .profile__name-container {
    column-gap: 0;
    margin-left: 17px;
  }
}
