@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

/*=====GLOBAL=====*/

@import url('../blocks/body/body.css');
@import url('../blocks/page/page.css');
@import url('../blocks/wrapper/wrapper.css');
@import url('../blocks/separator/separator.css');
@import url('../blocks/button/button.css');

/*=====HEADER=====*/

@import url('../blocks/header/__position/header__position.css');
@import url('../blocks/header/__logo/header__logo.css');

/*=====PROFILE=====*/

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__position/profile__position.css');
@import url('../blocks/profile/__photo/profile__photo.css');
@import url('../blocks/profile/__name-container/profile__name-container.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__about/profile__about.css');
@import url('../blocks/profile/__button-add/profile__button-add.css');
@import url('../blocks/profile/__button-add-icon/profile__button-add-icon.css');
@import url('../blocks/profile/__button-edit/profile__button-edit.css');
@import url('../blocks/profile/__button-add-icon/profile__button-add-icon.css');


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  grid-auto-rows: auto;
}

@media screen and (max-width: 712px) {
  .cards {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.card {
  margin: 0;
  max-width: 340px;
  max-height: 430px;

  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.card__image {

  width: 100%;

  object-fit: cover;
}
.card__info {
  margin-top: -4px;
  padding: 0 21px;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: black;
}

.card__icon-like:hover {
  opacity: .5;
}

.card__icon-like:active {
  opacity: unset;
  background-image: url('../images/buttons/heart_active.svg');
}

.footer {
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 544px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}




.footer__copyright {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}




