@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

/*=====GLOBAL=====*/

@import url('../blocks/body/body.css');
@import url('../blocks/page/page.css');
@import url('../blocks/wrapper/wrapper.css');
@import url('../blocks/button/button.css');
@import url('../blocks/button/_type/button_type_close.css');
@import url('../blocks/figure/figure.css');

/*=====HEADER=====*/

@import url('../blocks/header/header.css');
@import url('../blocks/header/_position/header_position.css');
@import url('../blocks/header/__logo/header__logo.css');

/*=====PROFILE=====*/

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__photo/profile__photo.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name-container/profile__name-container.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__about/profile__about.css');
@import url('../blocks/profile/__button-add/profile__button-add.css');
@import url('../blocks/profile/__button-edit/profile__button-edit.css');

/*=====CARDS=====*/

@import url('../blocks/cards/cards.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__photo-container/card__photo-container.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/card/__info/card__info.css');
@import url('../blocks/card/__button-like/card__button-like.css');
@import url('../blocks/card/__button-like/_active/card__button-like_active.css');
@import url('../blocks/card/__button-remove/card__button-delete.css');

/*=====FOOTER=====*/

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

/*=====POPUP=====*/

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');

/*=====PROFILE EDIT-FORM=====*/

@import url('../blocks/edit-form/edit-form.css');
@import url('../blocks/edit-form/__title/edit-form__title.css');
@import url('../blocks/edit-form/__fields/edit-form__fields.css');
@import url('../blocks/edit-form/__field/edit-form__field.css');
@import url('../blocks/edit-form/__button-save/edit-form__button-save.css');

/*=====IMAGE-VIEW POPUP=====*/

@import url('../blocks/popup/_theme/_dark/popup_theme_dark.css');
@import url('../blocks/image-view/__container/image-view__container.css');
@import url('../blocks/image-view/__item/image-view__item.css');
@import url('../blocks/image-view/__title/image-view__title.css');

.edit-form__field_type_error {
  border-bottom-color: red;
}

.edit-form__field_error_active {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

.button_inactive {
  background-color: transparent;
  color: rgba(0, 0, 0, .2);
  border: 2px solid rgba(0, 0, 0, .2);;
}
