.card__button-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: ease-out .2s;
  background: center no-repeat url('../../../images/buttons/thrash.svg');
}

.card__button-delete:hover {
  transition: ease-in .1s;
  opacity: .5;
}
