.button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.button:hover {
  opacity: .6;
  cursor: pointer;
}